<?xml version="1.0" encoding="utf-8"?>

<Configuration>

  <!-- Project UbzStuff configurations. -->
  <UberStrok
	  EnablePerformanceCounters = "true"
      DataSendingDelayMilliseconds="10"
      AckSendingDelayMilliseconds="10"
      MinimumTimeout="1000"
      MaximumTimeout="30000">

    <!-- Runtime configuration -->
    <Runtime
      Assembly="PhotonHostRuntime, Culture=neutral"
      Type="PhotonHostRuntime.PhotonDomainManager"
      UnhandledExceptionPolicy="Ignore">
    </Runtime>

    <Applications Default="UberStrok.Realtime.Server.Game">

      <!-- CommServer that is going to handle chat messages (lobby) and etc. -->
      <Application
        Name="UberStrok.Realtime.Server.Comm"
        BaseDirectory="UberStrok.Realtime.Server.Comm"
        Assembly="UberStrok.Realtime.Server.Comm"
        Type="UberStrok.Realtime.Server.Comm.CommApplication"
        ForceAutoRestart="true"
        WatchFiles="dll;config"
        ExcludeFiles="log4net.config">
      </Application>

      <!-- GameServer that is going to handle games and etc. -->
      <Application
        Name="UberStrok.Realtime.Server.Game"
        BaseDirectory="UberStrok.Realtime.Server.Game"
        Assembly="UberStrok.Realtime.Server.Game"
        Type="UberStrok.Realtime.Server.Game.GameApplication"
        ForceAutoRestart="true"
        WatchFiles="dll;config"
        ExcludeFiles="log4net.config">
      </Application>
      
    <!-- CommServer that is going to handle chat messages (lobby) and etc. -->
      <Application
        Name="UberStrikeClassicComm"
        BaseDirectory="UberStrikeClassic\CommServer\bin"
        Assembly="UberStrikeClassic.Realtime.Server.Comm"
        Type="UberStrikeClassic.Realtime.Server.Comm.CommServerApplication"
        ForceAutoRestart="true"
        WatchFiles="dll;config"
        ExcludeFiles="log4net.config">
      </Application>

      <!-- Gemserver that is going to handle chat messages (lobby) and etc. -->
      <Application
        Name="UberStrikeClassicGame"
        BaseDirectory="UberStrikeClassic\GameServer\bin"
        Assembly="UberStrikeClassic.Realtime.Server.Game"
        Type="UberStrikeClassic.Realtime.Server.Game.GameApplication"
        ForceAutoRestart="true"
        WatchFiles="dll;config"
        ExcludeFiles="log4net.config">
      </Application>
	  
    </Applications>

    <UDPListeners>

      <!-- CommServer UDP listener configuration. -->
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5055"
        OverrideApplication="UberStrok.Realtime.Server.Comm">
      </UDPListener>

      <!-- GameServer UDP listener configuration. -->
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5056"
        OverrideApplication="UberStrok.Realtime.Server.Game">
      </UDPListener>
    
    <!-- CommServer UDP listener configuration. -->
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5057"
        OverrideApplication="UberStrikeClassicComm">
      </UDPListener>

      <!-- GámeServer UDP listener configuration. -->
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5058"
        OverrideApplication="UberStrikeClassicGame">
      </UDPListener>
    </UDPListeners>
  </UberStrok>

 
</Configuration>
