<?xml version="1.0" encoding="utf-8"?>

<Configuration>

  <!-- Project UbzStuff configurations. -->
  <UberStrok>

    <!-- Runtime configuration -->
    <Runtime
      Assembly="PhotonHostRuntime, Culture=neutral"
      Type="PhotonHostRuntime.PhotonDomainManager"
      UnhandledExceptionPolicy="Ignore">
    </Runtime>

    <Applications Default="UberStrok.Realtime.Server.Game">

      <!-- CommServer that is going to handle chat messages (lobby) and etc. -->
      <Application
        Name="UberStrok.Realtime.Server.Comm"
        BaseDirectory="UberStrok.Realtime.Server.Comm"
        Assembly="UberStrok.Realtime.Server.Comm"
        Type="UberStrok.Realtime.Server.Comm.CommApplication"
        ForceAutoRestart="true"
        WatchFiles="dll;config"
        ExcludeFiles="log4net.config">
      </Application>

      <!-- GameServer that is going to handle games and etc. -->
      <Application
        Name="UberStrok.Realtime.Server.Game"
        BaseDirectory="UberStrok.Realtime.Server.Game"
        Assembly="UberStrok.Realtime.Server.Game"
        Type="UberStrok.Realtime.Server.Game.GameApplication"
        ForceAutoRestart="true"
        WatchFiles="dll;config"
        ExcludeFiles="log4net.config">
      </Application>

    </Applications>

    <UDPListeners>

      <!-- CommServer UDP listener configuration. -->
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5055"
        OverrideApplication="UberStrok.Realtime.Server.Comm">
      </UDPListener>

      <!-- GameServer UDP listener configuration. -->
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5056"
        OverrideApplication="UberStrok.Realtime.Server.Game">
      </UDPListener>
      <!-- Policy request listener for Unity and Flash (port 843) and Silverlight (port 943) -->
    </UDPListeners>
    <TCPPolicyListeners>
<!-- multiple Listeners allowed for different ports -->
<TCPPolicyListener
IPAddress="0.0.0.0"
Port="843"
Application="Policy"
InactivityTimeout="5000">
</TCPPolicyListener>
<TCPPolicyListener
IPAddress="0.0.0.0"
Port="943"
Application="Policy"
InactivityTimeout="5000">
</TCPPolicyListener>
</TCPPolicyListeners>

<!-- Policy request listener for Unity and Flash (port 843) and Silverlight (port 943) -->
<TCPPolicyListeners>
<!-- multiple Listeners allowed for different ports -->
<TCPPolicyListener
IPAddress="0.0.0.0"
Port="843"
Application="Policy"
InactivityTimeout="5000">
</TCPPolicyListener>
</TCPPolicyListeners>
  </UberStrok>

</Configuration>
